<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTwilio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WpfTwilio.Properties.Settings>
      <setting name="TwilioAccountSid" serializeAs="String">
        <value>ACaf4cd40e45d878d8cc1b698d91328a1d</value>
      </setting>
      <setting name="TwilioAuthToken" serializeAs="String">
        <value>4db632b3bddbda0221de184ea358df7d</value>
      </setting>
      <setting name="TwilioSourceNumber" serializeAs="String">
        <value>whatsapp:+14155238886</value>
      </setting>
    </WpfTwilio.Properties.Settings>
  </userSettings>
</configuration>